@charset "UTF-8";

header{
    background-image: url(../imagens/header-background.jpg);
}

header ul{
    width: 800px;
    font-size: 1.2em;
 
}

.iredes  img{
    width: 70px;
    transition-duration: 1s;
}

.iredes  img:hover{
    width: 90px;
}


.titulo-capa{
    font-size:6em;
    
 }

.btn{
    font-size: 1.2em;
    width: 120px;
    height: 50px;
    right: 15%;
 
}


main .apresentacao{
    max-width:1000px;
}




main .habilidades h2{
    
    font-size: 1.3em;
    

}

h2{
    color: var(--cor1);
  
}




.sessao-footer{
 
    justify-content: start;
    flex-direction: row;
    gap: 60px;
    
  }
.form {
  
    width: 300px;
    font-size: 1.125rem;
  }
  
  .links-uteis > li{
    font-size: 1.4em;
    margin: 20px 0px;
  }
  
  @media screen and (max-width: 1400px) {

    main .apresentacao{
        max-width: 800px;
    }
}