@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200..700&display=swap');


:root{
    --cor1: #6B10EB;
    --cor2: #B57EDC;
    --cor3: #333333;
    --cor4: #FFFFFF;
    --cor5: #C0C0C0;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;  
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html,body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
  
}

h1{
    font-family: Yanone Kaffeesatz;
}

.bandeira{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 200px 0px;
    color: white;
    text-align: center;
    background-image: linear-gradient(to left,#7700ff,#f3093c, #0a6fe2);
    background-size: 500%, 100%;
    animation: degrade-bandeira 5s infinite alternate; 

    
}

@keyframes degrade-bandeira {
    0%{
        background-position-x: 0%;

    }

    100%{
        background-position-x: 100%;
    }
    
}