@charset "UTF-8";
header{
   background-image: url(../imagens/header-background.jpg);
   
}

.titulo-capa{
   font-size:5em;
   
}

.btn{
   font-size: 1.2em;
   width: 120px;
   height: 50px;
   right: 20px;

}

.container{
   gap: 50px;
 }

h2{
   color: var(--cor1);
  
}

main .port{
   display: flex;
   justify-content: space-around;
   flex-direction: row;
   gap: 20px;
   
}

.container .txt-port p, li{
   font-size: 1em;
   margin-bottom: 25px;
   
  
}

.iredes  img{
   width: 60px;
}
.iredes  img:hover{
   width: 80px;
}


.footer{
   height: 300px;
 }
 .sessao-footer{
 
   justify-content: start;
   flex-direction: row;
   
 }
 
 .form {
   
   width: 300px;
   font-size: 1.125rem;
 }
 
 .links-uteis > li{
   font-size: 1.3em;
   margin: 20px 0px;
 }
 
 .sessao-footer > div{
 margin-top: 25px;
 margin-right: 60px;
 }

@media screen and (max-width:1160px) {
   main .port{
       flex-direction: column;
   }
}