@charset "UTF-8";

header{
    background-image: url(../imagens/header-background.jpg);
}

header ul{
    width: 800px;
    font-size: 1.2em;
 
}

.titulo-capa{
    font-size:6em;
    
 }

.btn{
    font-size: 1.2em;
    width: 120px;
    height: 50px;
    right: 10%;
 
}


.container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 8%
}

.container .txt-port{
    width: 700px;
    text-align: justify;
}

.container .txt-port p, li{
   font-size: 1.5em;
   margin-bottom: 25px;
  
}

.container .txt-port li{
    margin-left: 25px;
   
 }

 .iredes  img{
    width: 70px;
    transition-duration: 1s;
}

.iredes  img:hover{
    width: 90px;
}


h2{
    color: var(--cor1);
  
}

main .port{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    gap: 20px;
    
 }

.sessao2{
    width: 1200px;
    margin: auto;
}

.sessao-footer{
 
    justify-content: start;
    flex-direction: row;
    gap: 60px;
    
  }
.form {
  
    width: 300px;
    font-size: 1.125rem;
  }
  
  .links-uteis > li{
    font-size: 1.4em;
    margin: 20px 0px;
  }
  