@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



:root{
    --cor1: #151F30;
    --cor2: #103778;
    --cor3: #0593A2;
    --cor4: #ff7a48;
    --cor5: #e3371e;

    --font-destaque: Modak, sans-serif;
    --font-principal: Roboto, sans-serif;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;  
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html,body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-color: #EAEAEA;
  
}

h1{
    font-family: var(--font-destaque);
    font-size: 1.5em;
}

.bandeira{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 200px 0px;
    color: white;
    text-align: center;
    background-image: linear-gradient(to left,#0f8286,#034896,#370f9e );
    background-size: 500%, 100%;
    animation: degrade-bandeira 5s infinite alternate; 
     margin-top: 50px;
    
}

.bandeira h1{
    font-size: 1.5em;
    width: 80%;
    font-family: var(--font-principal);
}

@keyframes degrade-bandeira {
    0%{
        background-position-x: 0%;

    }

    100%{
        background-position-x: 100%;
    }
    
}

header{
    position: relative;
    background-image: url(../imagens/header-background-p.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
    color: white;
    
    
}

header nav{
    display: flex;
    align-items: center;
    justify-content: center;
}
header ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    background-image: linear-gradient(40deg,  #117c88 50%, #00e5ff);
    width: 400px;
    padding: 10px 10px;
    border-radius: 10px;
    margin-right: 20px;
    gap: 10px;
    text-align: center;
}

header li{
    font-family: var(--font-principal);
    font-weight: 500;
}

header h1{
    font-size: 3em;
    font-weight: 100;
    text-align: center;
}

header a{
    text-decoration: none;
    color: white;
}

header ul a:hover{
    color: var(--cor1);
    font-weight: 600;
    transition-duration: 0.5s;
}

#logo{
    width: 150px;
}

.btn{
    position: absolute;
    background-image: linear-gradient(45deg,  #0593A2 40%, #00e5ff);
    border: none;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    right: 20px;
    top: 200px;
    cursor: pointer;
}

.btn:hover{
    box-shadow: 2px 2px 3px rgb(255, 255, 255);
}

main{
    position: relative;
   
}

main .sessao1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main h1{
    font-size: 2.5em;
    font-weight: 100;
    color: var(--cor4);
    
}


main .apresentacao p{
    font-family: var(--font-principal);
    width: 300px;
    text-align: justify;
    line-height: 2em;
}

main .habilidades{
margin-top: 30px;
margin-left: -140px;


}

main .habilidades img{
    width: 120px;
    margin-left: -10px;
}


main .habilidades h1, h2{
    font-family: var(--font-destaque);
    font-weight: 100;
    font-size: 1.4em;

}

h2{
    color: var(--cor1);
   
}

.contato a{
    text-decoration: none;
    color: white;
}

.contato a:hover{
    color: var(--cor1);
    font-weight: 600;
    font-size: 0.9em;
}

.contato{
    background-image: linear-gradient(45deg, #f3551b 30%, #fab8a0);
    border: none;
    width: 120px;
    height: 40px;
    border-radius: 10px;
    margin-top: 15px;
    cursor: pointer;
}

main .sessao2{
    margin-top: 120px;
    text-align: center;
   
    
  
}



.titulo-site{
    font-size: 2em;
   
}

main .port{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height:auto;
    gap: 100px;
   
    
}
.port button{
    display: block;
    border: none;
    width: 200px;
    height: 50px;
    font-size: 1.6em;
    border-radius: 10px;
    box-shadow: 2px 2px 5px  rgba(0, 0, 0, 0.185);
    margin:  auto;
    cursor: pointer;
}

.port button a{
    text-decoration: none;
    color: white;
    font-family: var(--font-principal);
    font-weight: 400;
}



.btn-acesse{
    background-image: linear-gradient(45deg,#e98a5e, #eb4e10);
    background-size: 500%, 100%;
    animation: degrade-bandeira 3s infinite alternate; 
    

    
}

@keyframes degrade-bandeira {
    0%{
        background-position-x: 0%;

    }

    100%{
        background-position-x: 100%;
    }
    
}
    


.portfolio { 
    margin-bottom: 30px;
    width: 350px;
    height: 600px;
    background-size: cover;
    background-position: 100% 0%;
    border-radius: 20px;
    cursor: pointer;
    animation: scrollBackground 20s infinite; /* Ajuste a duração total para incluir as pausas e o retorno */
    
}

@keyframes scrollBackground {
    0% {
        background-position: 100% 0%;
    }
    5.28% {
        background-position: 100% 0%; /* Pausa no início */
    }
    42.86% {
        background-position: 100% 100%; /* Rola até o final */
    }
    57.14% {
        background-position: 100% 100%; /* Pausa no final */
    }
    85.72% {
        background-position: 100% 0%; /* Rola de volta para o início */
    }
    100% {
        background-position: 100% 0%; /* Pausa no início novamente */
    }
}

.site1 {
    background-image: url(../imagens/site1.jpg);
}

.site2 {
    background-image: url(../imagens/site2.jpg);
}

.site3 {
    background-image: url(../imagens/site3.jpg);
}


footer{
  
    background-color: rgb(246, 246, 247);
    padding: 40px 0px;
  
   
}

footer h3{
    color: var(--cor5);
}
.sessao-footer{
    display: flex;
    margin-left: 5%;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    
    
}

.sessao-footer  h3,li, p ,a {
    margin-bottom: 10px;
   
}

.sessao-footer div{
    margin-bottom: 15px;
}

footer ul, a{
    list-style-type: none;
    text-decoration: none;
    color: var(--cor1);
    font-weight: 500;
}
.endereco{
    font-size: 1em;
    margin-left: 20px;
}

h3{
    color: var(--cor5);
}


.links-uteis > li > a:hover{
    color: var(--cor5);
}

.nav-footer{
  margin: 25px 0px;
}

.form {
  
  width: 300px;
  font-size: 1.125rem;
}

.form label,
.form input,
.form textarea,
.form button {
  display: block;
  width: 100%;
}

.form label {
  color: var(--cor1);
  line-height: 1;
  margin-bottom: 0.5rem;
}

.form input,
.form textarea {
  font: inherit;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 8px;
  transition: border-color, box-shadow 0.2s;
}

.form textarea {
  min-height: 7rem;
  resize: vertical;
}

.form input:hover,
.form input:focus,
.form textarea:hover,
.form textarea:focus {
  outline: none;
  border-color: var(--cor1);
  box-shadow: 0 0 0 2px var(--cor1);
}

.form button {
  display: block;
  padding: 1rem;
  background: var(--cor1);
  color: #fff;
  font: inherit;
  text-transform: uppercase;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.form button:hover,
.form button:focus {
  outline: none;
  background: var(--cor5);
}

.contato-footer a{
    text-decoration: none;
    color: white;
}

.contato-footer a:hover{
    color: var(--cor1);
    font-weight: 600;
    font-size: 0.9em;
}

.contato-footer{
    background-image: linear-gradient(45deg, #f3291b 20%, #fab8a0);
    border: none;
    width: 120px;
    height: 40px;
    border-radius: 10px;
    margin-top: 15px;
    cursor: pointer;
}

.divisoria{
    display: block;
    width: 90%;
    height: 1px;
    background-color: #000000;
    margin: 10px auto;
}

@media screen and (max-width: 768px) {
    .portfolio {
        width: 330px;
        height: 500px;
    }}