@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



:root{
    --cor1: #151F30;
    --cor2: #103778;
    --cor3: #0593A2;
    --cor4: #ff7a48;
    --cor5: #e3371e;

    --font-destaque: Modak, sans-serif;
    --font-principal: Roboto, sans-serif;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;  
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html,body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-color: #EAEAEA;
  
}

h1{
    font-family: var(--font-destaque);
    font-size: 1.5em;
}

.bandeira{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 200px 0px;
    color: white;
    text-align: center;
    background-image: linear-gradient(to left,#7700ff,#f3093c, #0a6fe2);
    background-size: 500%, 100%;
    animation: degrade-bandeira 5s infinite alternate; 

    
}

@keyframes degrade-bandeira {
    0%{
        background-position-x: 0%;

    }

    100%{
        background-position-x: 100%;
    }
    
}

header{
    position: relative;
    background-image: url(../imagens/header-background-p.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
    color: white;
    
    
}

header nav{
    display: flex;
    align-items: center;
    justify-content: center;
}
header ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    background-image: linear-gradient(40deg,  #117c88 50%, #00e5ff);
    width: 400px;
    padding: 10px 10px;
    border-radius: 10px;
    margin-right: 20px;
    gap: 10px;
    text-align: center;
}

header li{
    font-family: var(--font-principal);
    font-weight: 500;
}

header h1{
    font-size: 3em;
    font-weight: 100;
    text-align: center;
}

header a{
    text-decoration: none;
    color: white;
}

header a:hover{
    color: var(--cor1);
    font-weight: 600;
    transition-duration: 0.5s;
}

#logo{
    width: 150px;
}

.btn{
    position: absolute;
    background-image: linear-gradient(45deg,  #0593A2 40%, #00e5ff);
    border: none;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    right: 20px;
    top: 200px;
}

main{
    position: relative;
   
}

main .sessao1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main h1{
    font-size: 2.5em;
    font-weight: 100;
    color: var(--cor4);
    
}


main .apresentacao p{
    font-family: var(--font-principal);
    width: 300px;
    text-align: justify;
    line-height: 2em;
}

main .habilidades{
margin-top: 30px;
margin-left: -140px;


}

main .habilidades img{
    width: 120px;
    margin-left: -10px;
}


main .habilidades h1, h2{
    font-family: var(--font-destaque);
    font-weight: 100;
    font-size: 1.4em;

}

h2{
    color: var(--cor1);
   
}

main .sessao2{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height:auto;
    gap: 20px;
    
}

.portfolio {
    width: 350px;
    height: 600px;
    background-size: cover;
    background-position: 100% 0%;
    border-radius: 20px;
    cursor: pointer;
    animation: scrollBackground 20s infinite; /* Ajuste a duração total para incluir as pausas e o retorno */
    
}

@keyframes scrollBackground {
    0% {
        background-position: 100% 0%;
    }
    5.28% {
        background-position: 100% 0%; /* Pausa no início */
    }
    42.86% {
        background-position: 100% 100%; /* Rola até o final */
    }
    57.14% {
        background-position: 100% 100%; /* Pausa no final */
    }
    85.72% {
        background-position: 100% 0%; /* Rola de volta para o início */
    }
    100% {
        background-position: 100% 0%; /* Pausa no início novamente */
    }
}

.site1 {
    background-image: url(../imagens/site1.jpg);
}

.site2 {
    background-image: url(../imagens/site2.jpg);
}

.site3 {
    background-image: url(../imagens/site3.jpg);
}

/* Adicione regras de media query para ajustar o tamanho dos portfólios em dispositivos menores, se necessário */
@media screen and (max-width: 768px) {
    .portfolio {
        width: 330px;
        height: 500px;
    }
}