@charset "UTF-8";

.modelo:hover{
    transform: translateY(0px);
    transition-duration: 0s;
  }
  
.sessao2{
    flex-direction: row-reverse;
    margin-top: 80px;
    align-items: center;
  }

.sessao2-conteudo{
    width: 40%;
    text-align: justify;
    margin: 50px auto 25px;
}

.sessao2-conteudo h1{
    text-align: right;
}

.sessao3{
  margin: 80px auto 25px;

}

.port{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  width: 700px;
  margin: 50px auto;
  
}
