@charset "UTF-8";

.logo > a > img{
    width: 115px;
  }
  
  .imenu span {
  display: block;
  width: 20px;
  height: 2px;
  margin-bottom: 5px;
  }
  
  .btn-contato{
  font-size: 0.7em;
  width: 100px;
  }

  .sessao1 h1{
    font-size: 1.2em;
}

.btn{
  background-color: var(--cor2);
  width: 140px;
  height: 40px;
 font-size: 0.8em;
}


.modelo{
  width: 250px;
  height:280px;
}

.modelo:hover{
  transform: translateY(0px);
  transition-duration: 0s;
}

.sessao2-conteudo{
  width: 80%;
 font-size: 0.85em;
 margin: 70px auto 25px auto;
}

.box-background{
  width: 280px;
  height: 200px;
}


.sessao3{
  font-size: 0.85em;
  margin: 70px auto 25px auto;
}

.sessao3 h1{
  font-size: 1.3em;
}

.vantagem h2{
  margin: 20px 0px 5px 25px;
}

.vantagem p{
  margin-left: 25px;
}
.sessao-vantagens{
  margin-top: 50px;
  font-size: 0.85em;
}

.titulo-oferecimento{
  font-size: 1.5em ;
}

.sessao4 h1{
  font-size: 1em;
}

.sessão4 h1, p{
  font-size: 0.85em;
}


.box-oferecimentos{
  width: 300px;
  height: 200px;
  border-radius: 8px;
  border: 2px solid var(--cor2);
}

.sessao-footer{
  font-size: 0.85em;
}