@charset "UTF-8";

header{
    background-image: url(../imagens/header-background.jpg);
}

header ul{
    width: 800px;
    font-size: 1.2em;
 
}

.iredes  img{
    width: 70px;
    transition-duration: 1s;
}

.iredes  img:hover{
    width: 90px;
}


.titulo-capa{
    font-size:6em;
    
 }

.btn{
    font-size: 1.2em;
    width: 120px;
    height: 50px;
    right: 10%;
 
}
main .apresentacao p{
    font-family: var(--font-principal);
    width: 40%;
    text-align: justify;
    margin-left: 100px;


}

main .apresentacao h1{
    margin-left: 100px;
}

main .habilidades{
    position: absolute;
    top: 0px;
    right: 33%;
    
}

main .habilidades h1, h2{
    font-family: var(--font-destaque);
    font-weight: 100;
    font-size: 1.3em;
    

}

h2{
    color: var(--cor1);
  
}

main .port{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    gap: 20px;
    
 }

.sessao2{
    width: 1200px;
    margin: auto;
}

.sessao-footer{
 
    justify-content: start;
    flex-direction: row;
    gap: 60px;
    
  }
.form {
  
    width: 300px;
    font-size: 1.125rem;
  }
  
  .links-uteis > li{
    font-size: 1.4em;
    margin: 20px 0px;
  }
  